* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(img/Guitar4.jfif);
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

.caixa1 {
    background-color: #ffffff65;
    width: 440px;
    height: 220px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.input-texto {
    text-align: center;
    background-color: #201f1f6c;
    padding: 20px;
    border: none;
    border-radius: 10px;
    height: 140px;
    width: 400px;
    font-size: 16px;

}
.caixa-pergunta {
    text-align: center;
}

.nome1 {
    text-align: center;
}

.caixa-maior {
   text-align: center;
}

::placeholder  {color: #000000ff; opacity: 1;}
